/*---------------------------------GENERAL---------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Poppins:wght@200;300;400;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html { scroll-behavior: smooth;}

body {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

/*links*/
a {
  color: #ffffff;
  text-decoration: none;
}
nav a:hover, ol li a:hover { color: #5FAFCA;}

/*listas*/
ul li { list-style: none;}

ol li {
  font-size: 1.2em;
  padding: .2em;
  margin-left: 1.5em;
}

/*textos*/
h3 {
  font-size: 1.5rem;
  text-align: center;
  margin: 2em 0 1.3em 0;
}

p {
  text-align: justify;
  text-indent: .8em;
}

.c1 {
  font-family: "Old Standard TT", serif;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: rgb(240, 239, 245);
  padding-bottom: .2em;
  border-bottom: 2px solid;
  text-align: center;
}
.cont .c1{
  text-align: left;
  width: 45%;
}

.container{  
  width: 90%;
  margin: 3em auto;
}

.container2 .text{width: 50%;}

section {
  padding: 5em;
  margin-bottom: 3em;
  box-shadow: inset 0 0 20px rgb(41, 89, 179);
}
section.cont{box-shadow: none;}

/*iconos*/
.iconify {font-size: 1.8em;}

/*barra de navegacion*/
header, footer{background-color: rgba(0, 0, 0, 0.904);}

header .container{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 0 auto;
}

nav {
  font-family: "Old Standard TT", serif;
  text-transform: uppercase;
  font-weight: bold;

}
nav ul{
  display: flex;
  justify-content:space-around;
}
nav li {
  font-size: 1.2em;
  margin-left: 1.5em;
}

.logo {opacity: 0.5;}
.logo:hover {opacity: 1;}

/*footer*/
footer {
  background-color: rgba(0, 0, 0, 0.904);
  padding: .2em;
}
footer p {text-align: center;}
footer span {font-weight: normal;}

/*Fondo para las secciones*/
.back {background-image: url(../img/fav3.jpg);}
.cont {
  background: url(../img/contenido.jpg) no-repeat center center;
  background-size: cover;
  height: calc(100vh - 65px);
}

/*---------------------------------------INDEX---------------------------------------*/
.index {
  background: url(../img/fondoindex.png) no-repeat center center;
  background-size: cover;
}

.container-index{
  width: 90%;
  margin: 3em auto 0 auto;
}

h1 {
  font-family: "Old Standard TT", serif;
  font-size: 3.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline #ffffff;
  letter-spacing: .1em;
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
  margin: 1.1em 0;
}

section.modal {
  background-color: rgba(0, 0, 0, 0.5);
  width: 55%;
  padding: 1.4em 3em;
  margin: 2em 0;
  box-shadow: none;
}
section.modal p{line-height: 2em;}
section.modal h2 {margin-bottom: 0.5em;}

/*social media*/
.sm {
  text-align: center;
  padding: 1.8em 0 .7em 0;
  box-shadow: none;
  margin-bottom: 0;
}
.sm ul li, .modal ul li {
  display: inline-block;
  padding: 1em;
}
#facebook:hover {color: #3b5998;}
#instagram:hover {color: #e1306c;}
#youtube:hover {color: #ff0000;}
#twitter:hover {color: #1da1f2;}

/*---------------------------------------ABOUT---------------------------------------*/
/*acerca del juego*/
.container2{
  display: flex;
  justify-content: space-between;
  padding-top: 1.5em;
}
.container2 .text, .container2 .text-alt{
  padding: 0 3em;
  align-self: center;
  line-height: 2.8em;
}

/*colaboraciones*/
.container2 .text-alt{padding: 0;}

/*galerias de imagenes*/
.team ul, .dlc ul{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}
.team li, .dlc li{margin: 2em .9em 0 .9em;}

/*critica*/
.text li{
  display: flex;
  align-items: center;
  padding: .5em 0;
}
.text li .iconify{margin-right: 1em;}

td {padding: .3em 5em .3em 0;}

#adj, #cri, #col {background-color: rgba(15, 15, 19, 0.815);}

/*---------------------------------------GAME---------------------------------------*/
#pel .text{width: 68%;} 

section#pel, section#sid{background-color:rgb(15, 15, 19);}

.carousel{margin: 2em;}

.grid-container {
  width: 1050px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.3fr 0.7fr 1fr 0.7fr 1.3fr;
  grid-template-rows: 2fr 0.9fr 0.9fr 0.8fr 2fr;
  grid-template-areas:
    "iris cid cid cid ravus"
    "iris iedolas iedolas iedolas ravus"
    "cindy iedolas iedolas iedolas ravus"
    "cindy iedolas iedolas iedolas cor"
    "cindy aranea aranea aranea cor";
}
.ravus { 
  background: url(../img/ravus.jpg);
  grid-area: ravus; }
.cindy { 
  background: url(../img/cindy.jpg);
  grid-area: cindy; }
.cor { 
  background:url(../img/cor.jpg);
  grid-area: cor; }
.iedolas { 
  background: url(../img/iedolas.jpg);
  grid-area: iedolas; }
.aranea { 
  background: url(../img/aranea.jpg);
  grid-area: aranea; }
.iris { 
  background: url(../img/iris.jpg);
  grid-area: iris; }
.cid { 
  background: url(../img/cid.jpg);
  grid-area: cid; }
/*---------------------------------------MEDIA---------------------------------------*/
#tra {width: 57%; }
#tra iframe {margin: 2.4em .5em;}

#mus{width: 35%;}
#mus iframe{margin: 2.4em 2em;}

#phg img{margin: 2em 10}

/*---------------------------------------CONTACT---------------------------------------*/
form {
  display: flex;
  flex-direction: column;
}

#contact {margin-bottom: 0;}

#contact .text, form{width: 50%;}

#contact .container2 .text, form{padding: 0 4em;}