/*Acerca del juego*/
@media (min-width: 1024px) {
  #adj .row {
    flex-direction:row-reverse;
  }
}

/*expansiones*/
#exp ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  li {padding: .7em 0;}  
}

/*equipo*/
.container-album {
  display: none;
  @media (min-width: 768px){
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
    .album {
      margin: 1em;
      height: auto;
      text-align: center;
      box-shadow: inset 0 0 10px $colorShadow;
        border-radius: .5em;
  
      img {
        height: 200px;
        width: 90%;
        margin-top: .5em;
        border-radius: .5em;
      }
    }
  }
}

#equ #carousel-example-2 {
  @media (min-width: 768px){
    display: none;
  }
}

@media (min-width: 1024px) {
  #equ ul > * {padding: 0.3em;}
}

/*critica*/
ul.stars {
  @extend %display;
  font-size: 1.2rem;
}

/*ficha tecnica*/
.table-fte {
  @media (min-width: 768px) {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
  }

  li:first-child {
    font-weight: bold;
    @media (min-width: 1024px) {
      width: 25%;
    }  
  }
}
