.back__contact {
  margin-bottom: 0;

  form {
    margin: 1em auto 0;
    max-width: 400px;
    flex-direction: column;
    display: flex;

    label {
      align-self: flex-start;
    }

    input {
      &:focus {
        outline: none;
        border: 3px $colorShadow solid;
      }

      &[type="text"],
      &[type="email"] {
        padding-left: 0.3em;
        border: 3px transparent solid;
        background: $colorPrimary;
        border-radius: 0.5em;
        margin-bottom: 1em;
      }

      &[type="submit"] {
        @extend %button;
        &:hover {
          box-shadow: inset 0 0 8px $colorShadow;
          color: $colorSecundary;
        }
      }
    }

    textarea {
      padding-left: 0.3em;
      border: 3px transparent solid;
      background: $colorPrimary;
      border-radius: 0.5em;
      margin-bottom: 1em;
      min-height: 100px;
      max-height: 190px;

      &:focus {
        outline: none;
        border: 3px $colorShadow solid;
      }
    }
  }
}
