@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Poppins:wght@200;300;400;600;700&display=swap");
$fontTitle: "Old Standard TT", serif;
$fontText: "Poppins", sans-serif;
$title1Size: 2rem;
$title2Size: 1.5rem;
$title3Size: 1.3rem;
