.carousel-caption.mod-black {
  animation-name: appear;
  animation-delay: 4s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  @media (min-width: 768px) {
    animation-name: none;
  }
}
@keyframes appear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.grid-container {
  display: none;
  @media (min-width: 1024px) {
    .mod-black {
      display: none;
      width: 100%;
    }
    height: 100vh;
    display: grid;
    grid-template-columns: 1.3fr 0.7fr 1fr 0.7fr 1.3fr;
    grid-template-rows: 2fr 0.9fr 0.9fr 0.8fr 2fr;
    grid-template-areas: "iris cid cid cid ravus" "iris iedolas iedolas iedolas ravus" "cindy iedolas iedolas iedolas ravus" "cindy iedolas iedolas iedolas cor" "cindy aranea aranea aranea cor";

    .ravus {
      background: url(../img/ravus.jpg) 70%;
      grid-area: ravus;
      &:hover {
        .mod-black {
          display: block;
        }
      }
    }

    .cindy {
      background: url(../img/cindy.jpg) 50%;
      grid-area: cindy;
      &:hover {
        .mod-black {
          display: block;
        }
      }
    }

    .cor {
      background: url(../img/cor.jpg) 70%;
      grid-area: cor;
      &:hover {
        .mod-black {
          display: block;
        }
      }
    }

    .iedolas {
      background: url(../img/iedolas.jpg);
      grid-area: iedolas;
      &:hover {
        .mod-black {
          display: block;
        }
      }
    }

    .aranea {
      background: url(../img/aranea.jpg);
      grid-area: aranea;
      &:hover {
        .mod-black {
          display: block;
        }
      }
    }

    .iris {
      background: url(../img/iris.jpg) 60%;
      grid-area: iris;
      &:hover {
        .mod-black {
          display: block;
        }
      }
    }

    .cid {
      background: url(../img/cid.jpg);
      grid-area: cid;
      &:hover {
        .mod-black {
          display: block;
        }
      }
    }

    .ravus,
    .cindy,
    .iris,
    .cid,
    .aranea,
    .cor,
    .iedolas {
      background-size: cover;
    }
  }
}

.bmo__sec {
  @media (min-width: 1024px) {
    display: none;
  }
}
#per {
  h3 {
    margin-top: 1em;
  }
}

@media (min-width: 1024px) {
  #his .row,
  #cos .row {
    flex-direction: row-reverse;
  }
}

.carousel {
  position: relative;
}

.carousel-caption {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px 10px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}
